@charset "UTF-8";
/*基本样式*/
body, div, h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, dt, dd, ul, ol, li, form, fieldset, legend, input, textarea, button, th, td {
  margin: 0;
  padding: 0; }

body {
  font: 12px/1.5 Verdana, "Lucida Grande",Helvetica, Arial,Lucida,sans-serif;
  color: #666; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

div, a, input {
  outline: none; }

textarea {
  border: 1px solid #ddd;
  overflow: auto;
  resize: none; }

a, input[type=button], input[type=submit], input[type=checkbox] {
  cursor: pointer; }

fieldset, img {
  border: none; }

address, caption, cite, code, dfn, em, th, var {
  font-weight: normal;
  font-style: normal; }

ul, ol {
  list-style-type: none; }

caption, th {
  text-align: left; }

q:after, q:before {
  content: ''; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

select, input, button, textarea {
  font-size: 100%; }

html {
  _overflow-x: hidden;
  _overflow-y: auto; }

/*--bug修复--*/
.no-space {
  word-spacing: 0; }

.set-space {
  word-spacing: 3px;
  word-spacing: 3px\9; }

.clearfix:after {
  zoom: 1;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  font-size: 0px; }

.clearfix {
  zoom: 1; }

/*子集浮动Bug*/
.clear {
  clear: both; }

body {
  /*_word-break:break-all;*/ }

/*IE6连续英文折行*/
img {
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom; }

/*IE7，IE8浏览器强制缩放图片失真;图文混排间隙清除*/
del {
  font-family: \5B8B\4F53; }

/*避免删除线造成数字8视觉上为0*/
/* html{zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true);}(this));}  IE6背景图闪烁Bug*/
/*--定位--*/
.dB {
  display: block; }

.dN {
  display: none; }

.dI {
  display: inline-block; }

.pRel {
  position: relative; }

.pAbs {
  position: absolute; }

.bN {
  border: none; }

.fl {
  float: left;
  _display: inline; }

.fr {
  float: right;
  _display: inline; }

.wsN {
  white-space: nowrap; }

.vaT {
  vertical-align: top; }

.vaM {
  vertical-align: middle; }

.vaB {
  vertical-align: bottom; }

.vH {
  visibility: hidden; }

.zoom {
  zoom: 1; }

.break {
  word-break: break-all;
  word-wrap: break-word; }

/*文字*/
.fwB {
  font-weight: bold; }

.fwN {
  font-weight: normal; }

.taL {
  text-align: left; }

.taC {
  text-align: center; }

.taR {
  text-align: right; }

.tdL {
  text-decoration: underline; }

.tdN {
  text-decoration: none; }

.fontArial {
  font-family: 'Arial'; }

.fontHelv {
  font-family: 'Helvetica'; }

.fontTahoma {
  font-family: 'Tahoma'; }

.fontTimes {
  font-family: "Times New Roman"; }

.ffESS {
  font-family: 'sans-serif'; }

.fontSongti {
  font-family: '宋体'; }

.fontHeiti {
  font-family: '黑体'; }

.fontYaHei {
  font-family: 'Micriosoft YaHei'; }

.fontGeor {
  font-family: Georgia; }

.size12 {
  font-size: 12px; }

.size14 {
  font-size: 14px; }

.size16 {
  font-size: 16px; }

.size18 {
  font-size: 18px; }

.size20 {
  font-size: 20px; }

.size22 {
  font-size: 22px; }

.size24 {
  font-size: 24px; }

.size26 {
  font-size: 26px; }

.size28 {
  font-size: 28px; }

.size30 {
  font-size: 30px; }

.size32 {
  font-size: 32px; }

.size34 {
  font-size: 34px; }

.size36 {
  font-size: 36px; }

.size38 {
  font-size: 38px; }

.size40 {
  font-size: 40px; }

.size42 {
  font-size: 42px; }

.size44 {
  font-size: 44px; }

.size46 {
  font-size: 46px; }

.size48 {
  font-size: 48px; }

.size50 {
  font-size: 50px; }

.size52 {
  font-size: 52px; }

.size54 {
  font-size: 54px; }

.size56 {
  font-size: 56px; }

.size58 {
  font-size: 58px; }

.size60 {
  font-size: 60px; }

.fL12 {
  line-height: 12px; }

.fL14 {
  line-height: 14px; }

.fL16 {
  line-height: 16px; }

.fL18 {
  line-height: 18px; }

.fL20 {
  line-height: 20px; }

.fL22 {
  line-height: 22px; }

.fL24 {
  line-height: 24px; }

.fL26 {
  line-height: 26px; }

.fL28 {
  line-height: 28px; }

.fL30 {
  line-height: 30px; }

.fL32 {
  line-height: 32px; }

.fL34 {
  line-height: 34px; }

.fL36 {
  line-height: 36px; }

.fL38 {
  line-height: 38px; }

.fL40 {
  line-height: 40px; }

.fL42 {
  line-height: 42px; }

.fL44 {
  line-height: 44px; }

.fL46 {
  line-height: 46px; }

.fL48 {
  line-height: 48px; }

.fL50 {
  line-height: 50px; }

.fL52 {
  line-height: 52px; }

.fL54 {
  line-height: 54px; }

.fL56 {
  line-height: 56px; }

.fL58 {
  line-height: 58px; }

.fL60 {
  line-height: 60px; }

.c000 {
  color: #000; }

.c333 {
  color: #666; }

.c666 {
  color: #666; }

.c999 {
  color: #999; }

.cCCC {
  color: #CCC; }

.cFFF {
  color: #FFF; }

/*--边距--*/
.m5 {
  margin: 5px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt45 {
  margin-top: 45px; }

.mt50 {
  margin-top: 50px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb50 {
  margin-bottom: 50px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.ml35 {
  margin-left: 35px; }

.ml40 {
  margin-left: 40px; }

.ml45 {
  margin-left: 45px; }

.ml50 {
  margin-left: 50px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr35 {
  margin-right: 35px; }

.mr40 {
  margin-right: 40px; }

.mr45 {
  margin-right: 45px; }

.mr50 {
  margin-right: 50px; }

.p5 {
  padding: 5px; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt35 {
  padding-top: 35px; }

.pt40 {
  padding-top: 40px; }

.pt45 {
  padding-top: 45px; }

.pt50 {
  padding-top: 50px; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb35 {
  padding-bottom: 35px; }

.pb40 {
  padding-bottom: 40px; }

.pb45 {
  padding-bottom: 45px; }

.pb50 {
  padding-bottom: 50px; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.pl35 {
  padding-left: 35px; }

.pl40 {
  padding-left: 40px; }

.pl45 {
  padding-left: 45px; }

.pl50 {
  padding-left: 50px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr25 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px; }

.pr35 {
  padding-right: 35px; }

.pr40 {
  padding-right: 40px; }

.pr45 {
  padding-right: 45px; }

.pr50 {
  padding-right: 50px; }

/*--尺寸--*/
.w5 {
  width: 5px; }

.w10 {
  width: 10px; }

.w15 {
  width: 15px; }

.w20 {
  width: 20px; }

.w25 {
  width: 25px; }

.w30 {
  width: 30px; }

.w35 {
  width: 35px; }

.w40 {
  width: 40px; }

.w45 {
  width: 45px; }

.w50 {
  width: 50px; }

.w55 {
  width: 55px; }

.w60 {
  width: 60px; }

.w65 {
  width: 65px; }

.w70 {
  width: 70px; }

.w75 {
  width: 75px; }

.w80 {
  width: 80px; }

.w85 {
  width: 85px; }

.w90 {
  width: 90px; }

.w95 {
  width: 95px; }

.w100 {
  width: 100px; }

.w105 {
  width: 105px; }

.w110 {
  width: 110px; }

.w115 {
  width: 115px; }

.w120 {
  width: 120px; }

.w125 {
  width: 125px; }

.w130 {
  width: 130px; }

.w135 {
  width: 135px; }

.w140 {
  width: 140px; }

.w145 {
  width: 145px; }

.w150 {
  width: 150px; }

.w155 {
  width: 155px; }

.w160 {
  width: 160px; }

.w165 {
  width: 165px; }

.w170 {
  width: 170px; }

.w175 {
  width: 175px; }

.w180 {
  width: 180px; }

.w185 {
  width: 185px; }

.w190 {
  width: 190px; }

.w195 {
  width: 195px; }

.w200 {
  width: 200px; }

.w205 {
  width: 205px; }

.w210 {
  width: 210px; }

.w215 {
  width: 215px; }

.w220 {
  width: 220px; }

.w225 {
  width: 225px; }

.w230 {
  width: 230px; }

.w235 {
  width: 235px; }

.w240 {
  width: 240px; }

.w245 {
  width: 245px; }

.w250 {
  width: 250px; }

.w255 {
  width: 255px; }

.w260 {
  width: 260px; }

.w265 {
  width: 265px; }

.w270 {
  width: 270px; }

.w275 {
  width: 275px; }

.w280 {
  width: 280px; }

.w285 {
  width: 285px; }

.w290 {
  width: 290px; }

.w295 {
  width: 295px; }

.w300 {
  width: 300px; }

.w455 {
  width: 455px; }

.h5 {
  height: 5px; }

.h10 {
  height: 10px; }

.h15 {
  height: 15px; }

.h20 {
  height: 20px; }

.h25 {
  height: 25px; }

.h30 {
  height: 30px; }

.h35 {
  height: 35px; }

.h40 {
  height: 40px; }

.h45 {
  height: 45px; }

.h50 {
  height: 50px; }

.h55 {
  height: 55px; }

.h60 {
  height: 60px; }

.h65 {
  height: 65px; }

.h70 {
  height: 70px; }

.h75 {
  height: 75px; }

.h80 {
  height: 80px; }

.h85 {
  height: 85px; }

.h90 {
  height: 90px; }

.h95 {
  height: 95px; }

.h100 {
  height: 100px; }

.h105 {
  height: 105px; }

.h110 {
  height: 110px; }

.h115 {
  height: 115px; }

.h120 {
  height: 120px; }

.h125 {
  height: 125px; }

.h130 {
  height: 130px; }

.h135 {
  height: 135px; }

.h140 {
  height: 140px; }

.h145 {
  height: 145px; }

.h150 {
  height: 150px; }

.h155 {
  height: 155px; }

.h160 {
  height: 160px; }

.h165 {
  height: 165px; }

.h170 {
  height: 170px; }

.h175 {
  height: 175px; }

.h180 {
  height: 180px; }

.h185 {
  height: 185px; }

.h190 {
  height: 190px; }

.h195 {
  height: 195px; }

.h200 {
  height: 200px; }

.h205 {
  height: 205px; }

.h210 {
  height: 210px; }

.h215 {
  height: 215px; }

.h220 {
  height: 220px; }

.h225 {
  height: 225px; }

.h230 {
  height: 230px; }

.h235 {
  height: 235px; }

.h240 {
  height: 240px; }

.h245 {
  height: 245px; }

.h250 {
  height: 250px; }

.h255 {
  height: 255px; }

.h260 {
  height: 260px; }

.h265 {
  height: 265px; }

.h270 {
  height: 270px; }

.h275 {
  height: 275px; }

.h280 {
  height: 280px; }

.h285 {
  height: 285px; }

.h290 {
  height: 290px; }

.h295 {
  height: 295px; }

.h300 {
  height: 300px; }

td, th {
  word-wrap: break-word;
  word-break: break-all;
  padding: 5px 10px;
  border: 1px solid #DDD; }

h1 {
  font-size: 22px;
  font-family: "Microsoft Yahei"; }

h2 {
  font-size: 16px;
  font-family: "Microsoft Yahei"; }

h3 {
  font-size: 14px;
  font-family: "Microsoft Yahei"; }

h4 {
  font-size: 12px;
  font-family: "Microsoft Yahei"; }

h5 {
  font-family: "Microsoft Yahei"; }

.txt-l {
  color: #999; }

.txt-n {
  color: #666; }

.txt-h {
  color: #333; }

.txt-r {
  color: #dc140f; }

a {
  text-decoration: none;
  _cursor: pointer; }

a {
  text-decoration: none;
  color: #333; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  color: #dc140f; }

a.tdL {
  text-decoration: underline; }

.a-red {
  color: #dc140f; }

.wrap {
  margin: 0 auto;
  width: 1140px;
  padding: 0 15px;
  zoom: 1; }

.wrap:after {
  zoom: 1;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  font-size: 0px; }

.bfyl {
  float: left; }

.nav {
  float: right;
  margin: 30px 0 0; }

.nav li {
  width: 80px;
  float: left;
  margin: 0 0 0 10px; }

.nav li.l {
  width: 95px; }

.nav a {
  display: block;
  color: #333;
  border-radius: 3px;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-family: "Microsoft Yahei"; }

.nav a:hover {
  text-decoration: none;
  background-color: #dc140f;
  color: #FFFFFF; }

.nav .cur a {
  background-color: #dc140f;
  color: #FFFFFF; }

.cate-nav {
  float: left;
  background-color: #bcbcbc;
  background-color: rgba(0, 0, 0, 0.6);
  width: 263px;
  height: 354px; }

.cate-nav-ul {
  padding: 30px 0 0; }

.cate-nav-ul a {
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 42px;
  height: 42px;
  padding-left: 30px;
  font-family: "Microsoft Yahei"; }

.cate-nav-ul .hover .cate-nav-a, .cate-nav-ul :hover .cate-nav-a {
  background-color: #dc140f;
  text-decoration: none; }

.cate-nav-ul li {
  position: relative; }

.cate-nav-ul .aow {
  width: 5px;
  height: 9px;
  background: url(../img/aow-w-r.png);
  right: 14px;
  top: 16px;
  position: absolute; }

.cate-nav-ul .hover .sub-cate-ul, .cate-nav-ul .has-sub:hover .sub-cate-ul {
  display: block; }

.sub-cate-ul {
  z-index: 999;
  position: absolute;
  width: 136px;
  top: 0;
  right: -136px;
  display: none; }

.sub-cate-ul li {
  height: 42px;
  line-height: 42px;
  background-color: #fff; }

.sub-cate-ul li a {
  font-size: 14px;
  display: block;
  padding-left: 20px;
  color: #333; }

.section-bn {
  background: url(../img/slide-bg.jpg) center center; }

.slide-ctnr {
  float: right;
  width: 848px;
  position: relative; }

.slide-aow-l, .slide-aow-r {
  position: absolute;
  background-image: url(../img/aow-bn.png);
  width: 25px;
  height: 43px;
  top: 156px;
  z-index: 99; }

.slide-aow-l {
  background-position: 0 0;
  left: 0; }

.slide-aow-r {
  background-position: 0 -64px;
  right: 0; }

.slide-list {
  height: 354px;
  overflow: hidden; }

.slogan {
  color: #891c2e;
  font-family: "Microsoft Yahei";
  position: absolute;
  top: 152px;
  left: 66px;
  z-index: 19; }

.slogan .m {
  font-size: 24px; }

.slogan .s {
  font-size: 48px; }

.section-solution {
  min-width: 1140px;
  background: url(../img/xiewen-bg.png) repeat;
  padding: 60px 0 60px; }

.section-solution h2 {
  line-height: 58px;
  margin-bottom: 24px;
  text-align: center;
  color: #333;
  background: url(../img/red-line.png) center bottom no-repeat; }

.section-solution p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  width: 1140px;
  text-align: center;
  margin: 0 auto; }

.solution-gallery {
  margin: 50px 0 0; }

.solution-gallery .cell {
  width: 25%;
  float: left;
  position: relative; }

.cell img {
  width: 100%; }

.case-gallery {
  width: 1140px;
  margin: 0 auto; }

.solution-gallery .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dc140f;
  opacity: 0.5;
  z-index: 2;
  left: 0;
  top: 0;
  display: none; }

.solution-gallery .text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  z-index: 3;
  left: 0;
  top: 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "Microsoft Yahei";
  line-height: 285px;
  display: none; }

.solution-gallery .cell:hover .text, .solution-gallery .cell:hover .mask {
  display: block; }

.section-case {
  min-width: 1140px;
  height: 380px;
  background: url(../img/index-case-bg.jpg) center center no-repeat; }

.section-case h2 {
  line-height: 58px;
  margin-bottom: 50px;
  text-align: center;
  color: #FFFFFF;
  background: url(../img/white-line.png) center bottom no-repeat;
  padding-top: 30px; }

.case-cell {
  position: relative;
  width: 200px;
  float: left;
  margin-right: 28px;
  margin-bottom: 25px; }

.case-cell img {
  width: 100%; }

.case-cell-last {
  margin-right: 0; }

.case-cell .title {
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  width: 100%; }

.case-cell .t {
  font-size: 16px;
  color: #333333;
  height: 40px;
  line-height: 40px;
  position: absolute;
  z-index: 2;
  font-family: "Microsoft Yahei";
  padding-left: 22px; }

.case-cell .b {
  position: absolute;
  background-color: #fff;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 1;
  height: 40px;
  width: 100%; }

.copyright {
  height: 50px;
  background-color: #000;
  min-width: 1140px; }

.cr-text {
  float: left;
  line-height: 50px;
  color: #FFFFFF; }

.copyright .commu {
  float: right;
  height: 28px; }

.commu li {
  float: left;
  height: 28px;
  width: 35px;
  background-image: url(../img/commu-icon.png);
  margin-top: 9px;
  position: relative; }

.commu .weibo {
  background-position: 0 0; }

.commu .weixin {
  background-position: -58px 0;
  margin-left: 23px; }

.commu .cr-code {
  position: absolute;
  height: 120px;
  width: 103px;
  left: -36px;
  top: -116px;
  display: none; }

.commu .weibo .cr-code {
  background: url(../img/qrcode-weibo.png) no-repeat; }

.commu .weixin .cr-code {
  background: url(../img/qrcode-weixin.png) no-repeat; }

.commu li:hover .cr-code {
  display: block; }

.footer {
  padding-top: 35px;
  background: url(../img/xiewen-bg.png) repeat; }

.site-info-section {
  float: left;
  margin-left: 30px;
  font-family: "Microsoft Yahei";
  padding-bottom: 40px; }

.site-info-section h2 {
  color: #000;
  margin-bottom: 20px; }

.site-info .intro {
  width: 457px; }

.site-info .intro p {
  line-height: 24px;
  font-size: 12px;
  text-indent: 2em; }

.site-info .sitemap {
  width: 263px; }

.site-info .contact {
  width: 292px; }

.site-info .sitemap dd {
  width: 98px;
  float: left;
  line-height: 24px;
  font-size: 14px; }

.site-info .contact dd, .about-main .link-info dd {
  font-size: 14px;
  height: 32px;
  padding-left: 40px;
  background-image: url(../img/contact-icon.png);
  background-repeat: no-repeat; }

.about-main .link-info dd {
  float: left;
  padding-left: 30px;
  margin-right: 10px;
  font-size: 12px; }

.site-info .contact .addr, .about-main .link-info .addr {
  background-position: 0 0; }

.site-info .contact .post, .about-main .link-info .post {
  background-position: 0 -33px; }

.site-info .contact .phone, .about-main .link-info .phone {
  background-position: 0 -67px; }

.site-info .contact .mobile, .about-main .link-info .mobile {
  background-position: 0 -98px; }

/*
产品
*/
.col-main {
  width: 848px;
  float: right; }

.col-side {
  width: 263px;
  float: left; }

.channel-title {
  background: #dc140f url(../img/shadow.png) center top no-repeat;
  margin-bottom: 74px; }

.channel-title h1 {
  font-size: 26px;
  color: #FFFFFF;
  height: 80px;
  line-height: 80px;
  font-family: "Microsoft Yahei";
  text-align: center; }

.col-side .side-header {
  background: url(../img/side-header-bg.jpg) no-repeat;
  color: #FFFFFF;
  font-size: 24px;
  font-family: "Microsoft Yahei";
  text-align: center;
  line-height: 130px;
  height: 130px; }

.col-side .side-header h3 {
  font-size: 24px; }

.side-ul {
  border: 1px solid #CCCCCC;
  padding: 11px 19px; }

.side-ul li {
  height: 40px;
  border-bottom: 1px solid #ccc; }

.side-ul li a {
  line-height: 40px;
  display: block;
  color: #333;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  padding-left: 21px;
  background-image: url(../img/gray-red-dot.png);
  background-repeat: no-repeat;
  background-position: 5px 18px; }

.side-ul li a:hover {
  color: #dc140f; }

.side-ul li.cur a {
  color: #dc140f;
  background-position: 5px -34px; }

.col-main h2, .about-main h2 {
  background: url(../img/main-h2-line.png) left bottom no-repeat;
  color: #333;
  font-size: 20px;
  padding-bottom: 15px;
  margin-bottom: 25px; }

.about-main h2 {
  margin-bottom: 20px; }

.mian-summary {
  margin-bottom: 25px; }

.main-section {
  padding-bottom: 10px; }

.main-section h4 {
  font-size: 14px;
  text-align: center;
  border-bottom: 2px solid #333333;
  overflow: hidden; }

.main-section .matrix {
  line-height: 30px;
  height: 30px;
  color: #FFFFFF;
  display: block;
  float: left;
  padding: 0 15px;
  background-color: #333333; }

.main-section-ctn {
  padding: 20px 0; }

.main-p {
  color: #777;
  line-height: 24px;
  font-size: 12px;
  margin-bottom: 10px;
  text-indent: 2em; }

.main-p-1 {
  color: #777;
  line-height: 24px;
  font-size: 12px;
  margin-bottom: 10px; }

.movie-btns {
  overflow: hidden; }

.movie-btn {
  background: url(../img/movie-icon.png) no-repeat 13px 9px;
  padding: 0 15px 0 54px;
  height: 36px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #dc140f;
  font-size: 14px;
  font-family: "Microsoft Yahei";
  display: block;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  float: left; }

.movie-btn:hover {
  color: #FFFFFF;
  text-decoration: none; }

.movie-ctnr {
  background-color: #f2f2f5;
  padding: 20px;
  width: 480px;
  border-radius: 3px;
  display: none; }

.movie-ctnr-tool {
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center; }

.movie-close {
  color: #333;
  text-decoration: underline;
  float: left; }

.movie-title {
  font-size: 14px;
  color: #333;
  font-weight: bold; }

.w263 {
  width: 263px; }

.w555 {
  width: 555px; }

/*
认证
*/
.renzheng-section {
  margin-left: 38px; }

.renzheng-section h5 {
  margin-left: -38px;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  background: url(../img/black-dot.png) no-repeat 19px 9px;
  padding-left: 35px; }

.sub-cate-tabs {
  overflow: hidden;
  margin-bottom: 36px; }

.sub-cate-tabs a {
  display: block;
  font-size: 16px;
  font-family: "Microsoft Yahei";
  color: #444;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;
  float: left;
  border-radius: 3px; }

.sub-cate-tabs .current, .sub-cate-tabs .cur {
  background-color: #dc140f;
  color: #FFFFFF; }

.sub-cate-tabs a:hover {
  text-decoration: none;
  color: #dc140f; }

.sub-cate-tabs .cur:hover, .sub-cate-tabs .current:hover {
  color: #FFFFFF; }

.authen-panel {
  display: none; }

/*
关于我们
*/
.about-cover {
  float: left;
  width: 555px; }

.about-main {
  float: right;
  width: 550px; }

.about-main .high-lite {
  background-color: #dc140f;
  color: #FFFFFF;
  padding: 5px; }

.about-map {
  margin-top: 50px;
  margin-bottom: 20px;
  min-width: 1140px; }

/*
认证
*/
.authen-cate-rel {
  position: relative;
  height: 36px;
  margin-bottom: 62px; }

.authen-content .sub-cate-tabs {
  position: absolute;
  left: 50%;
  margin-left: -404px; }

.authen-shelf {
  background: url(../img/authen/auth-shelf.png) no-repeat;
  height: 33px;
  margin-bottom: 40px; }

.authen-row {
  overflow: hidden; }

.aut-cell {
  width: 235px;
  float: left;
  margin: 0 17px; }

.aut-pic {
  margin-bottom: 23px; }

.aut-name {
  height: 36px;
  text-align: center;
  color: #444; }

/*
case
*/
.case-side-header h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333; }

.case-content .col-side {
  float: right; }

.case-content .col-main {
  float: left; }

.case-side-menu {
  margin-bottom: 25px; }

.case-side-menu a {
  color: #dc140f;
  font-size: 14px;
  line-height: 24px;
  display: block;
  height: 24px;
  padding-left: 24px;
  background: url(../img/dot-aow-r.png) no-repeat 0 4px; }

.case-side-menu li {
  margin-bottom: 10px; }

.solu-side-menu li {
  overflow: hidden;
  margin-bottom: 20px; }

.solu-side-menu img {
  display: block;
  float: left;
  width: 67px;
  height: 67px; }

.solu-side-menu span {
  display: block;
  margin-left: 80px;
  font-size: 14px; }

.case-ul li {
  margin-bottom: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  border-bottom: 1px dashed #dedede; }

.case-ul h4 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px; }

.case-ul img {
  float: left; }

.case-ul div {
  margin-left: 390px; }

.case-ul .info {
  color: #555;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 14px;
  display: block; }

.case-ul .btn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 3px;
  background-color: #dc140f;
  color: #fff;
  padding: 0 22px; }

.case-ul a:hover {
  color: inherit;
  text-decoration: none; }

.dot-p {
  color: #555;
  margin-bottom: 5px;
  background: url(../img/black-dot.png) no-repeat 4px 6px;
  padding-left: 20px;
  font-size: 12px; }

.h5-tit {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: Helvetica; }

/*# sourceMappingURL=common.css.map */
