@import "base";

$pageWidth: 1140px;
$mainRed: #dc140f;
$color7: #777;
$color6: #666;
$color3: #333;
$yahei: 'Microsoft Yahei';

body {

}

a {
}

h1 {
  font-size: 24px;
  font-family: $yahei;
}

h2 {
  font-size: 18px;
  font-family: $yahei;
}

h3 {
  font-size: 14px;
  font-family: $yahei;
}

h4 {
  font-size: 12px;
  font-family: $yahei;
}
h5{
  font-family: $yahei;
}
.txt-l {
  color: #999;
}

.txt-n {
  color: #666;
}

.txt-h {
  color: #333;
}

.txt-r {
  color: $mainRed;
}

a {
  text-decoration: none;
  _cursor: pointer;
}

a {
  text-decoration: none;
  color: #333;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $mainRed;
}

a.tdL {
  text-decoration: underline;
}

.a-red {
  color: $mainRed;
}

.wrap {
  margin: 0 auto;
  width: $pageWidth;
  padding: 0 15px;
  zoom: 1;
}

.wrap:after {
  zoom: 1;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  font-size: 0px;
}

.header {

}

.bfyl {
  float: left;
}

.nav {
  float: right;
  margin: 30px 0 0;
}

.nav li {
  width: 90px;
  float: left;
  margin: 0 0 0 10px;
}

.nav li.l {
  width: 110px;
}

.nav a {
  display: block;
  color: #333;
  border-radius: 3px;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-family: $yahei;
}

.nav a:hover {
  text-decoration: none;
  background-color: $mainRed;
  color: #FFFFFF;
}

.nav .cur a {
  background-color: $mainRed;
  color: #FFFFFF;
}

.cate-nav {
  float: left;
  background-color: rgb(188, 188, 188);
  background-color: rgba(0, 0, 0, 0.6);
  width: 263px;
  height: 354px;
}

.cate-nav-ul {
  padding: 30px 0 0;
}

.cate-nav-ul a {
  display: block;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 42px;
  height: 42px;
  padding-left: 30px;
  font-family: $yahei;

}

.cate-nav-ul .hover .cate-nav-a, .cate-nav-ul :hover .cate-nav-a {
  background-color: $mainRed;
  text-decoration: none;
}

.cate-nav-ul li {
  position: relative;
}

.cate-nav-ul .aow {
  width: 5px;
  height: 9px;
  background: url(../img/aow-w-r.png);
  right: 14px;
  top: 16px;
  position: absolute;
}

.cate-nav-ul .hover .sub-cate-ul, .cate-nav-ul .has-sub:hover .sub-cate-ul {
  display: block;
}

.cate-nav-ul .hover .sub-cate-ul li a {

}

.sub-cate-ul {
  z-index: 9;
  position: absolute;
  width: 136px;
  top: 0;
  right: -136px;
  display: none;
}

.sub-cate-ul li {
  height: 42px;
  line-height: 42px;
  background-color: #fff;
}

.sub-cate-ul li a {
  font-size: 16px;
  display: block;
  padding-left: 20px;
  color: #333;
}

.section-bn {
  background: url(../img/slide-bg.jpg) center center;
}

.slide-ctnr {
  float: right;
  width: 848px;
  position: relative;
}

.slide-aow-l, .slide-aow-r {
  position: absolute;
  background-image: url(../img/aow-bn.png);
  width: 25px;
  height: 43px;
  top: 156px;
}

.slide-aow-l {
  background-position: 0 0;
  left: 0;
}

.slide-aow-r {
  background-position: 0 -64px;
  right: 0;
}

.slide-list {
  height: 354px;
}

.section-solution {
  min-width: $pageWidth;
  background: url(../img/xiewen-bg.png) repeat;
  padding: 80px 0 100px;
}

.section-solution h1 {
  line-height: 58px;
  margin-bottom: 24px;
  text-align: center;
  color: #333;
  background: url(../img/red-line.png) center bottom no-repeat;
}

.section-solution p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  width: $pageWidth;
  text-align: center;
  margin: 0 auto;
}

.solution-gallery {
  margin: 68px 0 0;
}

.solution-gallery .cell {
  width: 20%;
  float: left;
}

.cell img {
  width: 100%;
}

.case-gallery {
  width: $pageWidth;
  margin: 0 auto;

}

.section-case {
  min-width: $pageWidth;
  height: 600px;
  background: url(../img/index-case-bg.jpg) center center no-repeat;
}

.section-case h1 {
  line-height: 58px;
  margin-bottom: 76px;
  text-align: center;
  color: #FFFFFF;
  background: url(../img/white-line.png) center bottom no-repeat;
  padding-top: 80px;
}

.case-cell {
  position: relative;
  width: 360px;
  height: 240px;
  float: left;
  margin-right: 30px;
}

.case-cell-last {
  margin-right: 0;
}

.case-cell .title {
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.case-cell .t {
  font-size: 18px;
  color: #333333;
  height: 40px;
  line-height: 40px;
  position: absolute;
  z-index: 2;
  font-family: $yahei;
  padding-left: 22px;
}

.case-cell .b {
  position: absolute;
  background-color: #fff;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 1;
  height: 40px;
  width: 100%;
}

.copyright {
  height: 50px;
  background-color: #000;
  min-width: $pageWidth;
}

.cr-text {
  float: left;
  line-height: 50px;
  color: #FFFFFF;
}

.copyright .commu {
  float: right;
  height: 28px;
}

.commu li {
  float: left;
  height: 28px;
  width: 35px;
  background-image: url(../img/commu-icon.png);
  margin-top: 9px;
  position: relative;
}

.commu .weibo {
  background-position: 0 0;
}

.commu .weixin {
  background-position: -58px 0;
  margin-left: 23px;
}

.commu .cr-code {
  position: absolute;
  height: 102px;
  width: 103px;
  background-color: #000;
  left: -36px;
  top: -116px;
  display: none;
}

.commu li:hover .cr-code {
  display: block;
}

.footer {
  margin-top: 35px;
}

.site-info-section {
  float: left;
  margin-left: 30px;
  font-family: $yahei;
  padding-bottom: 40px;
}

.site-info-section h2 {
  color: #000;
  margin-bottom: 20px;
}

.site-info .intro {
  width: 457px;
}

.site-info .intro p {
  line-height: 24px;
  font-size: 14px;
}

.site-info .sitemap {
  width: 263px;
}

.site-info .contact {
  width: 292px;
}

.site-info .sitemap dd {
  width: 98px;
  float: left;
  line-height: 24px;
  font-size: 14px;
}

.site-info .contact dd, .about-main .link-info dd{
  font-size: 14px;
  height: 32px;
  padding-left: 40px;
  background-image: url(../img/contact-icon.png);
  background-repeat: no-repeat;
}
.about-main .link-info dd{
  float: left;
  padding-left: 30px;
  margin-right: 38px;
}

.site-info .contact .addr,.about-main .link-info .addr {
  background-position: 0 0;
}

.site-info .contact .post,.about-main .link-info .post {
  background-position: 0 -32px;
}

.site-info .contact .phone,.about-main .link-info .phone {
  background-position: 0 -67px;
}

/*
产品
*/

.col-main {
  width: 848px;
  float: right;
}

.col-side {
  width: 263px;
  float: left;
}

.channel-title {
  background: $mainRed url(../img/shadow.png) center top no-repeat;
  margin-bottom: 74px;
}

.channel-title h1 {
  font-size: 30px;
  color: #FFFFFF;
  height: 100px;
  line-height: 100px;
  font-family: $yahei;
  text-align: center;
}

.col-side .side-header {
  background: url(../img/side-header-bg.jpg) no-repeat;
  color: #FFFFFF;
  font-size: 24px;
  font-family: $yahei;
  text-align: center;
  line-height: 130px;
  height: 130px;
}

.side-ul {
  border: 1px solid #CCCCCC;
  padding: 11px 19px;
}

.side-ul li {
  height: 40px;
  border-bottom: 1px solid #ccc;
}

.side-ul li a {
  line-height: 40px;
  display: block;
  color: #333;
  font-size: 16px;
  font-family: $yahei;
  padding-left: 21px;
  background-image: url(../img/gray-red-dot.png);
  background-repeat: no-repeat;
  background-position: 5px 18px;
}
.side-ul li.cur a{
  color: $mainRed;
  background-position: 5px -34px;
}
.col-main h2,.about-main h2 {
  background: url(../img/main-h2-line.png) left bottom no-repeat;
  color: #333;
  font-size: 24px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.about-main h2{
  margin-bottom: 20px;
}
.mian-summary{
  margin-bottom: 25px;
}
.main-section{
  padding-bottom: 10px;
}
.main-section h4 {
  font-size: 18px;
  text-align: center;


  border-bottom: 2px solid #333333;
  overflow: hidden;
}
.main-section .matrix{
  line-height: 35px;
  height: 35px;
  color: #FFFFFF;
  display: block;
  float: left;
  padding: 0 15px;
  background-color: #333333;
}

.main-section-ctn{
  padding: 20px 0;
}
.main-p{
  color: #777;
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 10px;
}

.w263{
  width: 263px;
}
.w555{
  width: 555px;
}

.renzheng-section{
  margin-left: 38px;
}
.renzheng-section h5{
  margin-left: -38px;
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
  background: url(../img/black-dot.png) no-repeat 19px 9px;
  padding-left: 35px;
}

.sub-cate-tabs {
  overflow: hidden;
  margin-bottom: 36px;
}
.sub-cate-tabs a{
  display: block;
  font-size: 20px;
  font-family: $yahei;
  color: #444;
  padding: 0 24px;
  height: 36px;
  line-height: 36px;
  float: left;
}
.sub-cate-tabs .cur{
  background-color: $mainRed;
  color: #FFFFFF;
}
.sub-cate-tabs a:hover{
  text-decoration: none;
}


/*
关于我们
*/
.about-cover{
  float: left;
  width: 555px;
}
.about-main{
  float: right;
  width: 550px;
}
.about-main .high-lite{
  background-color: $mainRed;
  color: #FFFFFF;
  padding: 5px;
}
.about-map{
  margin-top: 120px;
  min-width: $pageWidth;
  height: 400px;
  background: url(../img/about/map.jpg) no-repeat center center;
}

/*
认证
*/
.authen-cate-rel{
  position: relative;
  height: 36px;
  margin-bottom: 62px;
}
.authen-content .sub-cate-tabs{
  position: absolute;
  left: 50%;
  margin-left: -404px;
}
.authen-shelf{
  background: url(../img/authen/auth-shelf.png) no-repeat;
  height: 33px;
  margin-bottom: 40px;
}
.authen-row{
  overflow: hidden;
}
.aut-cell{
  width: 235px;
  float: left;
  margin: 0 17px;
}
.aut-pic{
  margin-bottom: 23px;
}
.aut-name{
  height: 36px;
  text-align: center;
  color: #444;
}

/*
case
*/
.case-side-header h3{
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}
.case-content .col-side{
  float: right;
}
.case-content .col-main{
  float: left;
}
.case-side-menu{
  margin-bottom: 25px;
}
.case-side-menu a{
  color: $mainRed;
  font-size: 14px;
  line-height: 24px;
  display: block;
  height: 24px;
  padding-left: 24px;
  background: url(../img/dot-aow-r.png) no-repeat 0 4px;
}
.case-side-menu li{
  margin-bottom: 10px;
}

.solu-side-menu li{
  overflow: hidden;
  margin-bottom: 20px;
}

.solu-side-menu img{
  display: block;
  float: left;
  width: 67px;
  height: 67px;
}
.solu-side-menu span{
  display: block;
  margin-left: 80px;
  font-size: 14px;
}

.case-ul li{
  margin-bottom: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  border-bottom: 1px dashed #dedede;
}
.case-ul h4{
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.case-ul img{
  float: left;
}
.case-ul div{
  margin-left: 390px;
}
.case-ul .info{
  color: #555;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 14px;
  display: block;
}
.case-ul .btn{
  display: inline-block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 3px;
  background-color: $mainRed;
  color: #fff;
  padding: 0 22px;
}

.case-ul a:hover{
  color: inherit;
  text-decoration: none;
}

.dot-p{
  color: #555;
  margin-bottom: 5px;
  background: url(../img/black-dot.png) no-repeat 4px 7px;
  padding-left: 20px;
  font-size: 14px;
}

.h5-tit{
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: Helvetica;
}

